<!DOCTYPE html>
<html>
    <head>
        <script src="../public/config.js"></script>
        <link href="../public/css/config.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <iframe id="frame"></iframe>
        <div id="test"></div>
        <div id="logs"></div>
    </body>
</html>