body {
    background-color:#212529;
    font-family: monospace;
    margin:0;
    overflow: hidden;
    height: 100%;
    position: absolute;
   }
   .disconnected::after {
    content:"Disconnected";
    position:fixed;
    width:100%;
    height:100%;
    text-align:center;
    display:inline;
    font-size:600%;
    z-index:3;
    background-color:rgba(0,0,0,.46);
    color:#fff;
    font-weight:700;
    line-height:80vh;
    top:0;
    left:0
   }
   #n_logs {
    grid-area:Logs;
    overflow:auto;
    display:flex;
    flex-direction:column-reverse
   }
   #serverLogs {
    flex:1;
    font-family:Roboto Mono;
    font-size:10pt;
    padding:2px 4px;
    background:repeating-linear-gradient( -55deg,#222,#222 10px,#232323 10px,#232323 20px )
   }
   #LogsDrag {
    background:#545454;
    grid-area:LogsDrag;
    cursor:ew-resize
   }
   #n_servers {
    padding:60px;
    grid-column-start:1;
    resize:horizontal;
    display: flex;
    flex-wrap: wrap;
   }
   .n_server {
    color:#fff;
    display:flex;
    flex-direction:column;
    margin-right:40px;
    margin-bottom:20px;
    width:300px;
    border-radius:10px;
    justify-content:space-between;
    overflow:hidden;
    transition:.3s;
    height: fit-content;
   }
   .n_server {
    background-color:rgba(255,255,255,.33)
   }
   .n_status {
    padding:7px 15px;
    font-size:156%;
    text-align:center;
    flex:0
   }
   .n_server.n_online .n_status::before {
    content:"Online"
   }
   .n_server .n_status::before {
    content:"Offline"
   }
   .n_server.n_online .n_status {
    background-color:#00963b
   }
   .n_server .n_status {
    background-color:#a30000
   }
   .n_img {
    background-image:url(../img/server.svg);
    background-position:center;
    background-repeat:no-repeat;
    height:250px;
    margin:20px
   }
   .log {
    color:#fff;
    white-space:break-spaces
   }
   .cyanLog {
    color:cyan
   }
   .greenLog {
    color:lime
   }
   .purpleLog {
    color:#fe00fe
   }
   .blueLog {
    color:blue
   }
   .yellowLog {
    color:#ff0
   }
   .redLog {
    color:red
   }
   .whiteLog {
    color:#fff
   }
   .whiteLog.dimLog {
    color:#969696
   }
   .greenLog.dimLog {
    color:#005800
   }
   .redLog.dimLog {
    color:darkred
   }
   .purpleLog.dimLog {
    color:purple
   }
   .blueLog.dimLog {
    color:#2d2dc9
   }
   .yellowLog.dimLog {
    color:#9a9a00
   }
   .cyanLog.dimLog {
    color:#009e9e
   }
   .tbl {
    display:table;
    width:100%
   }
   .tblRow {
    display:table-row
   }
   .tblCell {
    display:table-cell;
    padding:0 5px 8px 8px
   }
   .tblCell button {
    width:100%;
    padding:5px;
    border:0;
    border-radius:5px;
    cursor:pointer;
    color:#fff;
    font-size:100%;
    transition:.3s
   }
   .flxRow {
    display:flex;
    flex-direction:row
   }
   .flxCol {
    display:flex;
    flex-direction:column
   }
   .n_offline button {
    cursor:not-allowed;
    background-color:#7e7e7e;
    border-top: 1px solid #8f8f8f !important;
   }
   .n_offline button:hover {
    cursor:not-allowed;
    background-color:#7e7e7e;
    color:#fff;
    border-top: 1px solid #8f8f8f !important;
   }
   .rotate {
    transform:rotateZ(72deg)
   }
   .green {
    background-color:#417f3f;
    border-top:1px solid #459942!important
   }
   .red {
    background-color:#7f3f3f;
    border-top:1px solid #954f4f!important
   }
   .blue {
    background-color:#3f6a7f;
    border-top:1px solid #4c8099!important
   }
   .purple {
    background-color:#7a3f7f;
    border-top:1px solid #99539f!important
   }
   .green:hover {
    background-color:#28b538;
    border-top:1px solid #3ce34f!important
   }
   .red:hover {
    background-color:#d50303;
    border-top:1px solid #ff5f5f!important
   }
   .blue:hover {
    background-color:#00abff;
    border-top:1px solid #62cafd!important
   }
   .purple:hover {
    background-color:#ce00df;
    border-top:1px solid #f253ff!important
   }
   .n_bttns {
    display:flex;
    margin:5px
   }
   .n_bttns button {
    flex:1;
    border:0;
    height:42px;
    font-size:110%;
    cursor:pointer;
    color:#fff;
    transition:.3s;
    padding:0;
    margin:5px;
    border-radius:5px;
    border-top:1px solid transparent
   }
   .headerButton {
    border:0;
    min-width:150px;
    cursor:pointer;
    transition:.3s;
    color:#fff;
    font-size:150%;
    padding:10px;
    margin:5px;
    border-radius:5px
   }
   #n_new {
    background-color:rgba(255,255,255,.33);
    display:flex;
    overflow:hidden;
    transition:.3s;
    justify-content:end;
    grid-area:Header;
    padding:2px
   }
   #new {
    width:150px;
    cursor:pointer;
    transition:.3s;
    color:#fff;
    font-size:150%
   }
   .n_newCont {
    display:flex;
    flex-direction:column;
    padding:6px
   }
   .n_newCont * {
    margin:5px
   }
   .n_newCont div {
    color:#fff
   }
   #port:focus,
   #name:focus {
    box-shadow:inset 0 0 3px #1b00da;
    border:1px solid #726ede
   }
   #port,
   #name {
    padding:5px;
    margin:7px;
    border-radius:8px;
    border:1px solid #7e7e7e;
    background-color:#dcdcdc;
    font-size:110%;
    width:150px;
    box-shadow:inset 0 0 3px #414141;
    transition:.5s
   }
   .t_rght {
    text-align:right
   }
   .versionInfo {
    align-self:center;
    margin-right:auto;
    padding-left:20px;
    font-size:25pt;
    color:#fff
   }
#frame {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
   border: none;
}
#frame.hidden{
   display: none;
}
#logs {
   overflow: auto;
   height: 100%;
}