body {
   margin: 0;
   position: absolute;
   inset: 0;
}

.navbar {
   height: 50px;
   flex-shrink: 0;
 }

#mainFrame,
#dataFrame,
#aboutFrame,
#logsCont {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none;
}

[data-page="main"] {
   #mainFrame {
      display: block;
   }
   [data-page="main"] {
      display: none;
   }
}

[data-page="about"] {
   #aboutFrame {
      display: block;
   }
   [data-page="about"] {
      display: none;
   }
}

[data-page="data"] {
   #dataFrame {
      display: block;
   }
   [data-page="data"] {
      display: none;
   }
}

[data-page="logs"] {
   #logsCont {
      display: flex;
   }
   .logsView {
      display: inline;
   }
   [data-page="logs"] {
      display: none;
   }
}

.logsView {
   display: none;
}

body.loaded #cancel {
   display: none;
}

nav {
   position: absolute;
   bottom: 0;
   right: 0;
   margin: 5px;
   padding: 5px;
}

label {
   display: block;
   padding: 5px;
   border-radius: 5px;
   text-transform: capitalize;
   border: dashed 1px transparent;
   cursor: pointer;
}

label > input {
   margin-left: 10px;
}

label:has(:checked) {
   border-color: white;
   background: #2e303a;
}

.log {
   color: #fff;
   white-space: break-spaces
}

.cyanLog {
   color: cyan
}

.greenLog {
   color: lime
}

.purpleLog {
   color: #fe00fe
}

.blueLog {
   color: blue
}

.yellowLog {
   color: #ff0
}

.redLog {
   color: red
}

.whiteLog {
   color: #fff
}

.whiteLog.dimLog {
   color: #969696
}

.greenLog.dimLog {
   color: #005800
}

.redLog.dimLog {
   color: darkred
}

.purpleLog.dimLog {
   color: purple
}

.blueLog.dimLog {
   color: #2d2dc9
}

.yellowLog.dimLog {
   color: #9a9a00
}

.cyanLog.dimLog {
   color: #009e9e
}

.versionInfo {
   align-self: center;
   margin-right: auto;
   padding-left: 20px;
   font-size: 25pt;
   color: #fff
}

button.hidden {
   display: none;
}

#logsCont {
   flex-direction: column;
   overflow: hidden;
   height: 100%;
}

#logs {
   font-family: Ubuntu Mono;
   margin-bottom: auto;
   line-height: normal;
   display: flex;
   flex-direction: column-reverse;
   overflow-y: auto;
}

body.micaActive {
   background: transparent !important;
   color-scheme: auto;
}

.bg-title {
   background-color: #313d48;
   app-region: drag;
}

@font-face {
   font-family: Ubuntu Mono;
   src: url(../fonts/UbuntuMono-R.ttf);
}