/*#toggleConfig {
    background-image: url("../img/cog.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
    opacity: 0.5;
    transition: 0.3s;
    border-radius: 40px;
    cursor: pointer;
    z-index: 2;
    background-color: transparent;
    border: none;
    margin: 5px;
}*/

html {
  height: 100%;
}

#toggleConfig:hover {
    opacity: 1;
}

.rotate {
    transform: rotateZ(72deg);
}

#config {
  position: fixed;
  background: rgba(0,0,0,0.5);
  opacity: 1;
  transition: 0.3s;
  inset: 0;
  padding: 20px;
}

#config > section {
  max-height: 100%;
}

#config.hidden {
  opacity: 0;
  pointer-events: none;
}

#loading {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.5);
  background-image: url("/media/loading.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  transition: 0.3s;
}

#loading.hidden {
  opacity: 0;
  pointer-events: none;
}

td {
  vertical-align: middle;
}

.mainCont {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-between;
}

#config th {
  background-color: #2a323c83;
}

nav.drag {
  app-region: drag;
}

.btn {
  app-region: no-drag;
}

.bg-title {
  background-color: #313d48;
}

.masonry {
  grid-template-rows: masonry;
  columns: 35rem;
  column-gap: 1rem;
  display: block;
}

.masonry > * {
  break-inside: avoid;
  margin-bottom: 1rem;
  background: #2f3a4366 !important;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  padding: 1rem!important;
}

.masonry table {
  margin-bottom: 0 !important;
}