<section class="tab-pane fade masonry" id="nav-debug" data-editor="debug" role="tabpanel" aria-labelledby="nav-debug-tab">
    <div class="text-light text-muted brick" data-type="Media" data-catagory="power">
        <h4>Media Switchs PSU Info</h4>
        <span class="text-muted">Last updated <span id="lastPower">never</span></span>
        <table data-catagory="power" class="table table-dark text-muted table-sm">
            <thead>
                <th scope="col">Switch</th>
                <th scope="col">Power Output</th>
                <th scope="col">Uptime</th>
                <th scope="col">Status</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="text-light text-muted brick" data-type="Media" data-catagory="temperature">
        <h4>Media Switchs Temperatures</h4>
        <span class="text-muted">Last updated <span id="lastTemperature">never</span></span>
        <table data-catagory="temperature" class="table table-dark text-muted table-sm">
            <thead>
                <th scope="col">Switch</th>
                <th scope="col">Module</th>
                <th scope="col">Temperature</th>
                <th scope="col">Status</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="text-light text-muted brick" data-type="Media" data-catagory="fans">
        <h4>Media Switchs Fans Info</h4>
        <span class="text-muted">Last updated <span id="lastFans">never</span></span>
        <table data-catagory="fans" class="table table-dark text-muted table-sm">
            <thead>
                <th scope="col">Switch</th>
                <th scope="col">Fan Module</th>
                <th scope="col">Speed</th>
                <th scope="col">Status</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</section>