<section class="tab-pane fade mainCont" id="nav-embrionix" data-editor="embrionix" role="tabpanel" aria-labelledby="nav-embrionix-tab">
    <div class="text-light text-muted brick" data-type="Media" data-catagory="embrionix">
        <span class="text-muted">Last updated <span id="lastEmbrionix">never</span></span>
        <table data-catagory="embrionix" id="embTable">
            <tbody>
            </tbody>
        </table>
    </div>
</section>