<section class="tab-pane fade mainCont" id="nav-embrionix" data-editor="embrionix" role="tabpanel" aria-labelledby="nav-embrionix-tab">
    <div class="text-light text-muted brick" data-type="Media" data-catagory="embrionix">
        <span class="text-muted">Last updated <span id="lastembrionix">never</span></span>
        <table data-catagory="embrionix" class="table table-dark table-borderless table-secondary table-success table-striped-columns">
            <tbody>
            </tbody>
        </table>
    </div>
</section>