<section class="tab-pane fade mainCont" id="nav-interfaces" data-editor="interfaces" role="tabpanel" aria-labelledby="nav-interfaces-tab">
    <div class="text-light text-muted brick" data-type="Media" data-catagory="interfaces">
        <span class="text-muted">Last updated <span id="lastInterfaces">never</span></span>
        <table data-catagory="interfaces" class="table table-dark text-muted">
            <tbody>
            </tbody>
        </table>
    </div>
</section>