<section class="tab-pane fade show active mainCont masonry" id="nav-media" data-editor="media" role="tabpanel" aria-labelledby="nav-media-tab">
    <div class="text-light text-muted brick" data-type="Media" data-catagory="alive">
        <h4>Missing devices</h4>
        <span class="text-muted">Last updated <span id="lastAlive">never</span></span>
        <table data-catagory="alive" class="table table-dark text-muted table-sm">
            <thead>
                <th scope="col">Name</th>
                <% Object.keys(switches).forEach(function(prop) { %>
                    <th scope="col"><%- switches[prop].Name%></th>
                <% }); %>
            </thead>
            <tbody data-template="devices">
            </tbody>
        </table>
    </div>
    <div class="text-light text-muted" id="col-mac">
        <h4>Connection Dropouts</h4>
        <span class="text-muted">Last updated <span id="lastMac">never</span></span>
        <table id="mac" class="table table-dark text-muted table-sm">
            <thead>
                <th scope="col">Switch</th>
                <th scope="col">Port</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Phy State</th>
                <th scope="col">Last Change</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="text-light text-muted d-none" id="col-phy">
        <h4>Uncorrectable data (PHY FEC)</h4>
        <span class="text-muted">Last updated <span id="lastPhy">never</span></span>
        <table id="phy" class="table table-dark text-muted table-sm">
            <thead>
                <th scope="col">Switch</th>
                <th scope="col">Port</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Changes</th>
                <th scope="col">Last Change</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="text-light text-muted brick" data-type="Media" data-catagory="fibre">
        <h4>Low SFP/QSFP fibre RX levels</h4>
        <span class="text-muted">Last updated <span id="lastTra">never</span></span>
        <table data-catagory="fibre" class="table table-dark text-muted table-sm">
            <thead>
                <th scope="col">Switch</th>
                <th scope="col">Port</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">RX power</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</section>